<div class="show-tyre-container container">
  <div class="row">
    <div class="col m6 s12">
      <div class="carousel">
        <% @tyre.images.each do |image| %>
          <a class="carousel-item"><%= image_tag image.image_url.url %></a>
        <% end %>
      </div>
    </div>
    <div class="col m6 s12">
      <h3 class="tyre-name"><%= @tyre.name %></h3>
      <div class="row">
        <div class="col s4">
          <span>Brand</span>
          <p class="tyre-info"><%= @tyre.brand.name %></p>
        </div>
        <div class="col s4">
          <span>Model</span>
          <p class="tyre-info"><%= @tyre.model %></p>
        </div>
        <div class="col s4">
          <span>Size</span>
          <p class="tyre-info"><%= @tyre.width %>/<%= @tyre.ratio %> R<%= @tyre.rim %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col s4">
          <span>Speed</span>
          <p class="tyre-info"><%= @tyre.speed %></p>
        </div>
        <div class="col s4">
          <span>Made In</span>
          <p class="tyre-info"><%= @tyre.made_in %></p>
        </div>
        <div class="col s4">
          <span>Year</span>
          <p class="tyre-info"><%= @tyre.year %></p>
        </div>
        <div class="col s4">
          <span>Load</span>
          <p class="tyre-info"><%= @tyre.load %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col s6">
          <span>Price</span>
          <p class="tyre-info">EGP <%= @tyre.price %></p>
        </div>
        <div class="col s6">
          <a class="waves-effect waves-light btn red darken-4">Check Out <i class="fa fa-cart-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row tyre-description">
    <h5>Description</h5>
    <p><%= @tyre.description %></p>
  </div>
</div>