<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Engineering Tires & Batteries</h5>
        <p class="text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to "About", about_path, class: "white-text text-lighten-3" %></li>
          <li><%= link_to "Contact Us", contact_path, class: "white-text text-lighten-3" %></li>
          <li><%= link_to "Tyres", tyres_path, class: "white-text text-lighten-3" %></li>
          <li><%= link_to "Tyre Education", tyres_education_path, class: "white-text text-lighten-3" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © <%= DateTime.now.year %> Engineering Tires & Batteries
      <%= link_to '<i class="fa fa-facebook"></i>'.html_safe, 'https://www.facebook.com/engineering.moustafa.farid/', class: "white-text text-lighten-4 right social-media" %>
      <%= link_to '<i class="fa fa-instagram"></i>'.html_safe, 'https://www.facebook.com/engineering.moustafa.farid/', class: "white-text text-lighten-4 right social-media" %>
      <%= mail_to 'admin@example.com', '<i class="fa fa-facebook-square"></i>'.html_safe, class: "white-text text-lighten-4 right social-media" %>
    </div>
  </div>
</footer>